<launch>
  <node pkg="camera1394" type="camera1394_node" name="camera1394_node" >
    <rosparam file="$(find dcsl_vision_tracker)/config/camera4.yaml" />
  </node>
	
  <node pkg="dcsl_vision_tracker" type="background_generator.py" name="background_generator">
    <param name="image_name" value="$(find dcsl_vision_tracker)/config/background.png" />
  </node>
</launch>