<launch>

   <node name="raw1" pkg="image_view" type="image_view">
    <remap from="image" to="/camera1/image_rect_color" />
  </node >

  <node name="raw2" pkg="image_view" type="image_view">
    <remap from="image" to="/camera2/image_rect_color" />
  </node >

  <node name="raw3" pkg="image_view" type="image_view">
    <remap from="image" to="/camera3/image_rect_color" />
  </node >

  <node name="raw4" pkg="image_view" type="image_view">
    <remap from="image" to="/camera4/image_rect_color" />
  </node >

</launch>