<launch>

  <node name="camera" pkg="camera1394" type="camera1394_node">
    <rosparam file="$(find dcsl_vision_tracker)/config/miabot_camera.yaml" />
  </node >

  <node name="image_proc" pkg="image_proc" type="image_proc" ns="camera" >
    <remap from="image" to="camera/image_raw" />
  </node>

</launch >