<launch>

  <node name="vision_tracker" pkg="dcsl_vision_tracker" type="dcsl_miabot_tracker.py" output="screen">
    <!-- Move these to config yaml file. -->
    <param name="background_image0" value="$(find dcsl_vision_tracker)/config/miabot_background0.png" />
    <param name="background_image1" value="$(find dcsl_vision_tracker)/config/miabot_background1.png" />
    <param name="background_image2" value="$(find dcsl_vision_tracker)/config/miabot_background2.png" />
    <param name="background_image3" value="$(find dcsl_vision_tracker)/config/miabot_background3.png" />
  </node >

</launch>
