<launch>
  
  <!-- Declare arguments -->
  <arg name="n" />
  <!-- Assign parameter values -->
  <param name="/n_robots" value="$(arg n)" />

  <!-- Launch cameras and processors -->
  <include file="$(find dcsl_vision_tracker)/launch/beluga_cameras_only.launch" />

  <!-- Launch tracking -->
  <include file="$(find dcsl_vision_tracker)/launch/beluga_tracker.launch" />

  <!-- GUI -->
  <node name="BelugaGUI" pkg="rqt_gui" type="rqt_gui" />

  <!-- Launch robots -->
  <include ns="robot0" file="$(find dcsl_beluga_main)/launch/beluga0.launch" />

  <!-- Beluga core -->
  <include file="$(find dcsl_beluga_main)/launch/core_beluga.launch" >
    <arg name="n" value="$(arg n)" />
  </include >

</launch>