<launch>

  <group ns="robot0">
    <!-- dcsl_beluga_driver Node-->
    <node pkg="rosserial_python" type="serial_node.py" name="robot0" args="/dev/ttyUSB2" >
      <!-- (should be 4 once 4 is fixed) ttyUSB4 means this robot is connected to tether 4 -->
      <param name="air_reading" value="140" type="int"/>
      <param name="bottom_reading" value="613" type="int"/>
    </node>
  </group>

</launch >