<launch>
  
  <group ns="robot2" >
    <!-- dcsl_beluga_driver Node-->
    <node pkg="rosserial_python" type="serial_node.py" name="robot2" args="/dev/ttyUSB1" >
      <!-- USB1 means this robot is connected to tether #2 -->
      <param name="air_reading" value="140" type="int"/>
      <param name="bottom_reading" value="613" type="int"/>
    </node>
  </group >

</launch >
