<launch>
<!--
  Launchfile for miabot "follower control"
  Robot 0 will be controlled by Joystick
  Robot 1 will be controlled through waypoints calculated in follower control node
-->  
  <param name="/n_robots" value="2" />

  <node name="camera1" pkg="camera1394" type="camera1394_node" >
    <param name="video_mode" value="1024x768_mono8" />
  </node>

  <node name="vision_tracker" pkg="dcsl_vision_tracker" type="dcsl_miabot_tracker.py" >
    <param name="background_image" value="$(find dcsl_miabot_main)/parameters/background.png" />
  </node >
  
  <node name="tracked_image_viewer" pkg="image_view" type="image_view" >
    <remap from="image" to="/tracked_image" />
  </node >

  <node name="estimator" pkg="dcsl_state_estimator" type="dcsl_miabot_state_estimator" >
    <!-- order of initial condition list is [x_1, y_1, theta_1, x_2, y_2, theta_2, etc] -->
    <!-- so as it is, place the rfcomm0 miabot to the right of rfcomm1 miabot, both facing right -->
    <param name="initial_poses" value="[0.2, 0.0, 0.0, -0.2, 0.0, 0.0]" />
  </node>

  <node name="high_level_controller" pkg="dcsl_high_level_control"
    type="dcsl_miabot_follower_control" />
  
  <node name="low_level_controller" pkg="dcsl_low_level_control" 
    type="dcsl_miabot_low_level_control" args="--way">
    <param name="waypoint_gain_1" value="0.3" type="double" />
    <param name="waypoint_gain_2" value="0.1" type="double" />
  </node > 

  <node name="swarm_director" pkg="dcsl_swarm_director" type="dcsl_swarm_director_node.py" >
    <remap from="cmd_vel1" to="robot/cmd_vel1" />
  </node>

  <group ns="robot" >
    <node name="miabot0" pkg="dcsl_miabot_driver" type="dcsl_miabot_driver.py" output="screen" args="/dev/rfcomm0" >
      <param name="serial_port" value="/dev/rfcomm0" />
      <remap from="cmd_vel" to="cmd_vel0" />
      <!-- miabot0 will take in "cmd_vel0" from miabot_joy -->
    </node>
    <node name="miabot1" pkg="dcsl_miabot_driver" type="dcsl_miabot_driver.py" output="screen" args="/dev/rfcomm1">
      <param name="serial_port" value="/dev/rfcomm1" />
      <remap from="cmd_vel" to="cmd_vel1" />
      <!-- miabot1 will take in "cmd_vel1" from swarm_director -->
    </node>
  </group >    

  <node pkg="dcsl_miabot_driver" type="dcsl_miabot_joy" name="teleop">
    <remap from="cmd_vel" to="robot/cmd_vel0" />
  </node>    

  <node respawn="true" pkg="joy"
        type="joy" name="turtle_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

 <!-- Axes -->
  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="0" type="int"/>
  <param name="scale_linear" value="0.1" type="double"/>
  <param name="scale_angular" value="0.2" type="double"/>

</launch>