<launch>
  
  <param name="/n_robots" value="2" />

   <!-- Launch cameras and processors -->
  <include file="$(find dcsl_vision_tracker)/launch/miabot_camera_only.launch" />

  <!-- Launch tracking -->
  <include file="$(find dcsl_vision_tracker)/launch/miabot_tracker.launch" />

  <!-- Launch robots -->
  <include file="$(find dcsl_miabot_main)/launch/miabot0.launch" />
  <include file="$(find dcsl_miabot_main)/launch/miabot1.launch" />
  
  <!-- Launch low level controller node -->
  <include file="$(find dcsl_low_level_control)/launch/miabot_low_level.launch" />

  <!-- Director -->
  <node name="swarm_director" pkg="dcsl_swarm_director" type="dcsl_swarm_director_node.py" />

  <!-- Estimator -->
  <node name="estimator" pkg="dcsl_state_estimator" type="dcsl_miabot_estimator.py" />

  <!-- Websocket bridge -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <!-- GUI -->
  <node name="rqt_gui" type="rqt_gui" pkg="rqt_gui" />

</launch>
