<launch>
  
  <param name="/n_robots" value="1" />

   <!-- Launch cameras and processors -->
  <include file="$(find dcsl_vision_tracker)/launch/miabot_camera_only.launch" />

  <!-- Launch tracking -->
  <include file="$(find dcsl_vision_tracker)/launch/miabot_tracker.launch" />
  
  <!-- Launch image viewer -->
  <include file="$(find dcsl_vision_tracker)/launch/miabot_view_tracking.launch" />

  <!-- Launch robot -->
  <include file="$(find dcsl_miabot_main)/launch/miabot0.launch" />
  
  <!-- Low level controller -->
  <node name="low_level_controller" pkg="dcsl_low_level_control" 
	type="dcsl_miabot_low_level_control" args="--vel">
    <!--
    <param name="waypoint_gain_1" value="0.3" type="double" />
    <param name="waypoint_gain_2" value="0.1" type="double" />
    -->
  </node > 

  <!-- Director -->
  <node name="swarm_director" pkg="dcsl_swarm_director" type="dcsl_swarm_director_node.py" />

  <!-- Estimator -->
  <node name="estimator" pkg="dcsl_state_estimator" type="dcsl_miabot_state_estimator" >
    <param name="initial_poses" value="[0.0, 0.0, 0.0]" />
  </node>

  <!-- Websocket bridge -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

</launch>
